.header_cta div {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

.cta {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
