.header-element {
  display: flex;
  align-items: center;
}

.header-element:not(:first-child) {
  margin-left: 0.5em;
}

.header-element > *:not(:first-child) {
  margin-left: 8px;
}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (max-width: 1024px) {
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (max-width: 600px) {
}

@media screen and (min-width: var(--deprecated_upToSmall)) {
  .selector-wrapper {
    position: relative;
  }
}
