.about__icon {
  color: var(--color-primary);
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.scroll__down {
  position: absolute;
  right: 2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.service__list-icon {
  color: var(--color-primary);
  margin-top: 2px;
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

/* ================ MEDIA QUERIES (SMALL DEVICES) ================ */

@media screen and (max-width: 600px) {
  .scroll__down {
    display: none;
  }
}
